.section_2 {
    background-color: #000;
    margin-top: 30px;
}

.top {
    background: #efb736;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.step-header {
    background: #efb736;
    padding: 28px 98px;
    
   text-align: center;
    
    margin-right: 100px;
    margin-left: 690px;
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.step-body {
    text-align: center;
    margin-left: 690px;
    margin-right: 100px;
}

.buttonShet {
    
    margin-left: 840px;

    font-weight: 700;
    text-decoration: none;
   
    text-transform: uppercase;
    letter-spacing: 1.6px;
    
    display: inline-block;
    background-color: #efb736;
    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-radius: 50px;
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: 13px;
    
    transition: 0.2s ease-out;
}
